@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

.container {
    width: 88%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    // background-color: lightblue;

    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
        width: 80%;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1366px) {
    }
}

.title_container {
    padding: 5px;
    margin: -10px 0 15px 0;

    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
        padding: 15px;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1366px) {
    }
}

.title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2.25rem;
    letter-spacing: 0.025rem;
    font-family: Arial, Helvetica, sans-serif;

    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
        font-size: 3rem;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1366px) {
    }
}
