.container {
    margin: 20px 0 0 0;
    background-color: rgb(17, 17, 17);

    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
        margin: 15px 0 0 0;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1366px) {
    }
}

.name_container {
    //background-color: lightgreen;
    height: 100%;
    width: 100%;
    // padding: 35px 10px 10px 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media (min-width: 375px) {
        // padding-top: 35px;
    }
    @media (min-width: 768px) {
        // padding-top: 40px;
        // height: 90px;
    }
    @media (min-width: 1024px) {
        // padding-top: 40px;
    }
    @media (min-width: 1366px) {
        // padding-top: 0;
    }

    .name {
        // font-family: 'Courgette', cursive;
        font-family: 'Damion', cursive;
        letter-spacing: 0.1rem;
        font-size: 2.5rem;
        text-decoration: underline;
        color: rgb(255, 255, 255);
        font-weight: 500;
        margin: 0;
        padding: 0;

        @media (min-width: 768px) {
            font-size: 2.75rem;
        }
        @media (min-width: 1024px) {
            font-size: 3.75rem;
        }
    }
}

.wrapper {
    // background-color: lightseagreen;
    height: 120px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        height: 130px;
        padding: 0;
    }
    @media (min-width: 1024px) {
        height: 150px;
    }
    @media (min-width: 1366px) {
    }

    .info {
        // background-color: lightskyblue;
        list-style-type: none;
        padding: 0;
        margin: 0 0 10px 0;
        text-align: center;

        @media (min-width: 768px) {
            margin-top: 20px;
        }

        li {
            padding: 0;
            margin: 0;
            font-size: 0.75rem;
            font-weight: 500;
            color: white;
            text-transform: capitalize;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .social {
        background-color: rgb(17, 17, 17);
    }
}

.social_wrapper {
    padding: 0;
    margin: 0 auto;
    width: 160px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    text-decoration: none;
    box-shadow: none;
}

.img {
    padding: 0;
    margin: 0;
}