@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.container {
    padding: 0;
    margin: 0;
    display: flex;
    height: 35px;
    margin: 0 auto 20px auto;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 1024px) {
        width: 90%;
    }
    @media (min-width: 1366px) {
        width: 85%;
    }
}

.nav_item {
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    font-family: 'Viga', sans-serif;

    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
        font-size: 0.9rem;
    }
    @media (min-width: 1366px) {
        font-size: 1rem;
    }
}

.active > li {
    border-bottom: 2px solid  rgb(202, 202, 202); // #444a72;
}

.link {
    box-shadow: none;
}