@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

.parent_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px auto 10px auto;
    // background-color: lightgreen;

    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
        margin-bottom: 0;
        flex-direction: row;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1366px) {
    }
}

.child_container {
    box-sizing: border-box;
    width: 285px;
    padding: 0;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: column;
    color: black;

    @media (min-width: 375px) {
        width: 325px;
    }
    @media (min-width: 768px) {
        width: 235px;
        height: 285px;
    }
    @media (min-width: 1024px) {
        width: 300px;
        height: 350px;
    }
    @media (min-width: 1366px) {
        width: 375px;
        height: 400px;
    }
}

.image_container {
    @media (max-width: 375px) {
    }
    @media (max-width: 768px) {
    }
}

.image {
    box-sizing: border-box;
}

.link {
    box-shadow: none;
    box-sizing: border-box;
}

.section {
    font-family: 'Alice', serif;
    font-size: 1.15rem;
    color: rgb(219, 51, 52);

    @media (min-width: 768px) {
        font-size: 0.95rem;
    }
    @media (min-width: 1024px) {
        font-size: 1.1rem;
    }
    @media (min-width: 1366px) {
        font-size: 1.12rem;
    }
}

.title {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.025rem;

    @media (min-width: 768px) {
        font-size: 1.05rem;
    }
    @media (min-width: 1024px) {
        font-size: 1.1rem;
    }
    @media (min-width: 1366px) {
        font-size: 1.2rem;
    }
}

.excerpt {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0 0 0 0;
    font-size: 0.85rem;
    text-align: start;
    color:#727272;

    &:hover {        
        text-decoration: underline;
    }

    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
        font-size: 0.7rem;
    }
    @media (min-width: 1024px) {
        font-size: 0.8rem;
    }
    @media (min-width: 1366px) {
        font-size: 0.9rem;
    }
}

.wrapper {
    padding: 10px;

    @media (max-width: 375px) {
    }
    @media (max-width: 768px) {
        padding: 5px;
    }
}

.divider {
    width: 90%;
    margin: 0 auto;
}