.inner_container {
    display: flex;
    position: absolute;
    left: -500px;
    transition: transform 300ms ease-in;
}

.prev_btn {
    z-index: 1000;
    width: 100px;
    left: 0;
    bottom: 60px;
    position: absolute;
    opacity: 0.4;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
}

.next_btn {
    z-index: 1000;
    width: 100px;
    right: 0;
    bottom: 60px;
    position: absolute;
    opacity: 0.4;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
}